---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="About Me"
  description="Everything about Ryan Yogan"
  pubDate={new Date("September 18 2023")}
  heroImage="/blog-placeholder-about.jpg"
>
  <p>
    Hey there, fellow humans! I'm Ryan, the software engineering wizard with
    more than 15 years of experience under my coding belt. From JavaScript to
    Ruby, Python to GoLang, I've dabbled in more programming languages than
    there are types of cheese at a fancy wine tasting.
  </p>

  <p>
    I have had the privilege of working in a myriad of environments, ranging
    from scrappy start-ups with just three people to large enterprise
    organizations. Throughout my journey, I've tackled various projects. From
    developing real-time data services in Clojure to building your everyday CRUD
    apps using popular MVC frameworks, I've even taken the plunge and fully
    embraced the world of Single Page Applications (SPA). Although, I must
    admit, I'm not entirely sure why we ventured down that path. These days, I
    find immense satisfaction in crafting a basic GoLang site with a sprinkle of
    Vanilla JavaScript. The result? Lightning-fast loading times that'll make
    you do a double-take! Trust me, it's a game-changer. LOL!
  </p>
  <p>
    But wait, there's more! I've even delved into the mystical realm of obscure
    tooling. Clojure, Erlang, OCaml, Haskell, R, F#, and yes, even the infamous
    ColdFusion. It's like a magical circus of languages, and I'm the ringmaster
    juggling them all with finesse.
  </p>

  <p>
    Now, here's the juicy part - I am a certified nerd extraordinaire. I'm not
    just talking about your run-of-the-mill nerd; I'm nerdier than a collection
    of pocket protectors at a Star Trek convention. My love for this crazy world
    of coding started when I got my hands on a 386 running Windows 3.1 for
    Workgroups. Ah, the memories! Thanks to AOL and my wild desire to kick off
    unsuspecting internet users after 20 minutes of dial-up attempts, I embarked
    on a journey of digital mischief. Who knew that my mischievousness would
    evolve into a full-blown career?
  </p>

  <p>
    But it's not just about the coding for me. No, no, no. I'm also a master of
    engineering leadership. Picture me, the fearless captain, leading my team
    through the treacherous waters of software development. I'll guide us to
    victory, armed with my trusty keyboard and a caffeinated beverage of choice.
    And when it comes to attention to detail, I'm your guy. I obsess over pixels
    and rems on my side project sites like a crazed artist, ensuring every
    element is perfectly placed. Picasso, eat your heart out!
  </p>

  <p>
    I may be a nerd, but I'm a nerd on a never-ending quest for knowledge.
    There's no challenge, book, or tutorial on a new language or paradigm that I
    won't devour like a ravenous code monster. I'm always up for learning
    something new, because hey, life's too short to stick to just one
    programming language, right?
  </p>

  <p>
    So, if you're in need of a software engineer who's as nerdy as a Dungeons &
    Dragons marathon and as dedicated as a squirrel hoarding acorns, look no
    further. I'm here, ready to bring my quirky sense of humor and unparalleled
    coding skills to the table. Let's create something epic together and have a
    laugh while we're at it. Game on!
  </p>

  <p>
    Disclaimer: I asked ChatGPT 3.5 Turbo to write something funny, and that was
    the result. I find it somewhat hilarious 🤣
  </p>
</Layout>
