---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="container">
      <h1>👋 Hello, I'm Ryan.</h1>
      <p class="hero">
        I am a developer, engineering leader, and complete aviation nerd. I am a
        believer, a dreamer, and I see art in every facet of life.

        <p>
          I am a builder; however, satisfaction does not come from my creations.
          My joy, insipriation, feeling of value comes from those that I may
          help with their creation. ♥️
        </p>
      </p>
    </main>
    <Footer />
  </body>
</html>
