---
import { ViewTransitions } from "astro:transitions";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="container">
      <h1>👋 Hi, I'm Ryan,</h1>
      <div class="hero">
        <p>
          Greetings, fellow developers and aviation enthusiasts! I am not just a
          developer, but a connoisseur of engineering leadership and a complete
          aviation nerd. I believe in the power of dreams and see art in every
          facet of life.
        </p>

        <h5>My Secret Passion</h5>
        <p>
          Let me tell you a little secret – I have a passion for sharing
          knowledge. It all started as an addiction to learning. Some might say
          I was trapped in tutorial hell for over 15 years, but I beg to differ.
          I simply adore exploring new perspectives. Now, I want to distill my
          own best practices and share them through tutorials. Oh, and by the
          way, testing is definitely a thing! Trust me on this.
        </p>

        <p>
          Currently, I'm working on building a learning platform. Yes, I know
          what you're thinking – there are already 200 similar platforms out
          there. But here's the twist: mine is absolutely free. I firmly believe
          that knowledge should not come at a cost. And hey, I'm still learning
          too, so it's a win-win-win situation!
        </p>

        <h5>Whatcha excited about these days?</h5>

        <p>
          Over the past year, I've been knee-deep in TypeScript, Next.JS 13,
          Remix, Three.js, and even tinkering with SvelteKit and Astro.build
          (this very site is an Astro site, by the way). I've been exploring the
          fascinating world of OpenAI and indulging in some "edgy" computing –
          which is just a fancy way of saying I've been re-learning caching
          techniques. My love for UI development comes in waves, and after a few
          years, I often roll back to the backend. Right now, I'm rediscovering
          the joys of CSS and finding that less-is-more when it comes to
          styling. Who would have thought?
        </p>

        <p>
          As a true adventurer, you'll find me dabbling in SwiftUI, Kotlin,
          Flutter, and React Native. Do I have a favorite? Absolutely not. Each
          of them brings a unique set of solutions to the challenges they were
          designed for, in my humble opinion.
        </p>

        <p>
          When it comes to backend languages, GoLang and Elixir hold a special
          place in my heart. Although, lately, the Bun-based projects have been
          adding some spice to my TypeScript-infused world!
        </p>

        <p>
          I have a penchant for working with large datasets. There's something
          exhilarating about rewriting Airflow services into stream-based
          services using Erlang, Scala, or Go. I can't pinpoint exactly when or
          where this fascination began, but I suspect it was during my time at
          HG Insights while devouring the book on Concurrent Data Processing in
          Elixir. It all just made too much sense!
        </p>

        <h5>What nerd doesn't automate their home?!</h5>
        <p>
          And speaking of Elixir and Erlang, let me confess my love for embedded
          projects. Perhaps my closet is brimming with toys from SparkFun. The
          idea of controlling hardware with software has always captivated me.
          Who knows, someday, I might even have the knowledge to build my own
          experimental helicopter and end up making headlines! Just imagine the
          chaos!
        </p>
      </div>
    </main>
    <Footer />
  </body>
</html>
