---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";

export const prerender = true;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main class="container">
      <h1>The Zoo?!</h1>

      <p>
        We love our animals, too much! We even had 6 cats at one point
        (fostering). It is a toss up between the kids and the animals on
        pictures taken. Instagram is boring, so now you get to come here and see
        silly animal nonsense for free, or get lifetime access for $3.14... get
        it?
      </p>

      <p>
        Anyway you came to another page I am working on as we speak, Astro has
        image optimization which makes me happy. I like Astro today lol
      </p>
    </main>
    <Footer />
  </body>
</html>
